.post {
    .message{
        margin: 1.5em 0;
        font-size: 2rem;
        font-family: Raleway;
    }

    img {
        display: block;
        margin: .5em auto;
        max-width: 85vw;
    }
}