.bucket-list-posts {
    width: 100%;

    .comments {
        text-align: center;
        margin-top: .5em;
        font-family: Raleway;
        font-size: 1.25rem;
    }

    img {
        width: 100%;
    }
}